<a href="https://colab.research.google.com/github/beajdkjj/oms-data/blob/main/suicide_data_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub
import pandas as pd

path = kagglehub.dataset_download("kumaranand05/who-suicide-data-1950-2021")
df = pd.read_csv(path+'/combined_processed_data.csv', sep = ',')
print(df.dtypes)

Region Name                                                 object
Country Name                                                object
Year                                                         int64
Sex                                                         object
0 Year                                                     float64
1-4 Years                                                  float64
5-9 Years                                                  float64
10-14 Years                                                float64
15-19 Years                                                float64
20-24 Years                                                float64
25-29 Years                                                float64
30-34 Years                                                float64
35-39 Years                                                float64
40-44 Years                                                float64
45-49 Years                                                float64
50-54 Years                                                float64
55-59 Years                                                float64
60-64 Years                                                float64
65-69 Years                                                float64
70-74 Years                                                float64
75-79 Years                                                float64
80-84 Years                                                float64
85+ Years                                                  float64
Unknown Age                                                float64
No of Suicides                                             float64
Percentage of cause-specific deaths out of total deaths    float64
Death rate per 100 000 population                          float64
dtype: object

In [ ]:
#Removendo idades
df = df.drop(columns=['Sex', '0 Year', '1-4 Years', '5-9 Years', '10-14 Years', '15-19 Years', '20-24 Years', '25-29 Years', '30-34 Years', '30-34 Years', '35-39 Years', '40-44 Years', '45-49 Years', '50-54 Years','55-59 Years', '60-64 Years', '65-69 Years', '70-74 Years', '75-79 Years', '80-84 Years','85+ Years', 'Unknown Age'])

In [ ]:
#tratamento dos dados
df['Year'] = df['Year'].astype(int)
df.columns = df.columns.str.lower().str.replace(' ', '_')
df = df.drop_duplicates()